<div id="header">
    <h1 class="logo"><a href="/"></a></h1>
    <a id="cart-info" href="/">Shopping Cart<span><span></span>@CartItemCount items</span></a>
</div>
@functions
{
    [Parameter] int CartItemCount { get; set; }
}
